.index__header {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 85px 0;
}
.index__header > .index__header__tit {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 35px;
}
.index__header > .index__header__txt {
  width: 70%;
  font-size: 17px;
  color: #ddd;
  font-weight: 500;
}
