.recommended_frends_list {
  border-top: var(--border_defaultcolor);
  border-bottom: var(--border_defaultcolor);
  padding: 25px 0;
}

.recommended_frends_list .recommended_frends_list__tit {
  font-size: 15px;
  color: var(--font_defaultcolor);
  font-weight: 500;
}
.recommended_frends_list span {
  font-size: 20px;
  text-align: center;
  padding: 100px 0;
  color: var(--font_defaultcolor);
  display: block;
}

.open_chat_header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.open_chat_header > h5,
.open_chat_header span,
.open_chat_header span i {
  font-size: 14px;
  color: var(--font_defaultcolor);
}

.open_chat_post {
  padding: 20px 0;
  border-bottom: var(--border_defaultcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open_chat_post:last-child {
  border-bottom: none;
}
.open_chat_post .open_chat_culnum h5 {
  font-size: 20px;
}
.open_chat_post .open_chat_culnum h6 {
  color: var(--font_defaultcolor);
  text-transform: uppercase;
  font-size: 18px;
  margin: 7px 0;
}

img.main_members_smphoto {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.thisopen_chat_info {
  display: flex;
  align-items: center;
}
.thisopen_chat_info span {
  color: var(--font_defaultcolor);
  display: flex;
}
.thisopen_chat_info span.devider::after {
  display: block;
  content: " ";
  width: 1px;
  height: 13px;
  background-color: var(--font_defaultcolor);
  margin: 0 10px;
}

.thisopen_chat_memberscount {
  margin: 0 5px;
}

.thisopen_chat_info .thisopen_chat_type {
  color: palevioletred;
}
.open_post_mainphoto {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.open_post_mainphoto img {
  width: 200px;
}
.open_post_mainphoto .like {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  padding: 5px 10px;
}

.open_post_mainphoto .like span {
  color: #fff;
  font-size: 13px;
}
.open_post_mainphoto .like i {
  color: #fff;
  font-size: 13px;
  margin-right: 10px;
}
@keyframes heart {
  from {
    transform: scale(1);
    color: #fff;
  }
  50% {
    transform: scale(1.5);
    color: tomato;
  }
  to {
    transform: scale(1);
    color: #fff;
  }
}

.open_post_mainphoto .like:hover .fa-heart {
  will-change: transform;
  /* wii-change >> transform 최종 결과값을 브라우저가 잡기 힘들어하는 것을 도와주기
  위해 무언가가 바뀌기전에 브라우저에게 무엇이 변경될 것인지 미리 사전에 알려주어 브라우저
  의 일을 도와주는 역할이당. */
  animation: heart 1s linear infinite;
}
