.index__header {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 85px 0;
}
.index__header > .index__header__tit {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 35px;
}
.index__header > .index__header__txt {
  width: 70%;
  font-size: 17px;
  color: #ddd;
  font-weight: 500;
}

#index__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 30px;
}
#index__form input {
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  padding: 25px 0;
  transition: border-color 0.5s ease 0s;
}
#index__form input::placeholder {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.4);
}

#index__form input[type="submit"] {
  border: none;
  padding: 20px 0;
  font-size: 19px;
  font-weight: 500;
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--input_color);
  border-radius: 10px;
}
#index__form input[type="password"] {
  margin-bottom: 20px;
}
#index__form > a {
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
  font-weight: 600;
  padding-top: 20px;
}

#index__form input:not([type="submit"]):focus {
  border-color: var(--input_color);
}
