.more_main .user_comp__culnum__subtit {
  display: flex;
  align-items: center;
}
.more_main .user_comp__culnum__subtit span {
  margin-right: 5px;
  display: block;
  color: var(--font_defaultcolor);
}
.more_main .user_comp__culnum__subtit i {
  color: tomato;
}

.more_main .fa-comment-alt {
  font-size: 30px;
}

.suggestions {
  border-top: var(--border_defaultcolor);
  padding-top: 20px;
}
.suggestions h3 {
  text-transform: capitalize;
  font-weight: 500;
}

.suggestions > .suggestions_list {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.suggestions > .suggestions_list > li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.suggestions > .suggestions_list > li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.suggestions > .suggestions_list > li a > h4 {
  font-size: 18px;
  color: var(--font_defaultcolor);
  font-weight: 500;
  padding-top: 20px;
}
.suggestions > .suggestions_list > li a > i {
  font-size: 40px;
  width: 50px;
  height: 50px;
  background: var(--input_color);
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
